.team-member-ev-component {

  line-height: 3;

  .img-team-member {
    width: 50px;
  }

  .team-member-ev {
    float: right;
    vertical-align: middle;

    .btn-grade {
      height: 36px;
      line-height: 1;
    }

  }

}